<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UEN Verification</title>

    <!-- Font Icon -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form action="/jbpm/" id="signup-form" class="signup-form">
                        <h2 class="form-title">UEN Verification</h2>
                        {% if records_list %}
                            <div class="form-group">
                                <ul>
                                    {% for record in records_list %}
                                    <li class="list-group-item">UEN: {{ record.uen }}</li>
                                    <input type="hidden" class="form-input" name="uen" id="uen" value="{{ record.uen }}"/>
                                    <li class="list-group-item">Entity Name: {{ record.entity_name }}</li>
                                    <li class="list-group-item">Registered Street Name: {{ record.reg_street_name }}</li>
                                    <li class="list-group-item">Registered Postal Code: {{ record.reg_postal_code }}</li>
                                    <li class="list-group-item">Issued Agency ID: {{ record.issuance_agency_id }}</li>
                                    <li class="list-group-item">UEN Issued Date: {{ record.uen_issue_date }}</li>
                                    <li class="list-group-item">UEN Status: {{ record.uen_status }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Process to Assess"/>
                        </div>
                        {% else %}
                           <p>UEN not found from ACRA! Assessment result: Rejected.</p>
                        {% endif %}
                    </form>
                    <p class="loginhere">
                         You may verify again<a href="/" class="loginhere-link"> here</a>
                    </p>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>